<div class="side">
    <div class="row animated fadeIn">
        <div class="col-md-8 px-5 py-4">
            <router-outlet></router-outlet>
        </div>
        <div class="col-md-4 aside-info py-4 px-4">
            <h5 class="text-white fw-bold">{{quotation.name}}</h5>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="h6">Fecha de Presentación</label>
                        <input type="text" class="form-control mt-1 txt-15" [ngModel]="date | date:'medium'" readOnly >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="h6">Tipo</label>
                        <input type="text" class="form-control mt-1 txt-15" readOnly [ngModel]="quotation.type | fillEmpty">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="h6">Moneda</label>
                        <input type="text" class="form-control mt-1 txt-15" readOnly [ngModel]="quotation.money | moneySupplier | fillEmpty">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group mx-3">
                    <label class="h6">Objeto de la Cotización</label>
                    <textarea name=""  readOnly id="" cols="35" rows="2" class="mt-1 form-control txt-15">{{quotation.description | fillEmpty}}</textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="h6">Tipo de adjudicación</label>
                        <input type="text" class="form-control mt-1 txt-15" [ngModel]="quotation.adjudicationType | fillEmpty" readOnly>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="h6">Condición de Pago</label>
                        <input type="text" class="form-control mt-1 txt-15" readOnly [ngModel]="quotation.payCondition | payconditionSupplier" >
                    </div>
                </div>
            </div>

            
            <div>
                <div class="row  px-3">
                    <label class="h6">Plazo</label>
                </div>

                <!--<div class="col-md-6">
                    <div class="form-group">
                        <label class="h6">Fecha de Inicio</label>
                        <input type="text" class="form-control mt-1 txt-15" [ngModel]="quotation.start | date: 'medium' | fillEmpty" readOnly>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="h6">Fecha de Conclusión</label>
                        <input type="text" class="form-control mt-1 txt-15" [ngModel]="quotation.end | date: 'medium' | fillEmpty" readOnly >
                    </div>
                </div>-->
                
                <div class="vigency">

                    <div class="date-start date-box">
                        <div class="start-side">
                            <div class="col-5 text-right" style="position:relative;">
                                <i class="fa fa-calendar-o fa-2x"></i>
                                <span class="font-weight-bold day-start">{{dayStart}}</span>
                            </div>
                            <div class="col-7 fs-14 font-weight-bold">
                                <div >
                                   {{ monthStart | titlecase }}
                                </div>
                                <div>
                                    {{ quotation.start | date:'shortTime' }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="date-end date-box">
                        <div class="end-side">
                            <div class="col-5 text-right">
                                <div style="position:relative;">
                                    <i class="fa fa-calendar-o fa-2x"></i>
                                    <!--<div style="width:30px; height:30px; margin:0 auto; background-color: red; color:blue; position:absolute; left:20%; top:10%;">
                                        <span class="font-weight-bold text-right" >{{dayEnd}}</span>
                                    </div>-->
                                    <span class="font-weight-bold" style="position:absolute; left:28%; top:30%;" >{{dayEnd}}</span>
                                </div>
                            </div>
                            <div class="col-7 fs-14 font-weight-bold">
                                <div>
                                   {{ monthEnd | titlecase }}
                                </div>
                                <div>
                                    {{ quotation.end | date:'shortTime' }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center" style="width:100%;">
                        <div class="mt-4" *ngIf="quotation.auction">
                            <button [routerLink]="['/cot-principal']" class="btn btn-danger scale"><i class="fa fa-home"></i> Abandonar Subasta</button>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>


