*{
    box-sizing: border-box;
  }
  
  .pays hr{
    margin-top:15px;
    margin-bottom: 0px;
    border: none;
    height: 3px; /* Set the hr color */ 
    color: #CCCCCC; /* old IE */ 
    background-color: #CCCCCC; /* Modern Browsers */
}

  .bg-gray{
    background-color:#EDF2EA;
    color:#B4B8B2;
  }

  .none{
      min-height:180px;
      margin:15px 60px;
  }

  /*tabla de pagos*/

  mat-form-field{
    margin-top: 0;
    width: 100%;
  }

  table {
    font-size: 14px;
    width: 100%;
  }

  table th{
    background-color: #004a9f;
    color: white;
    font-size: 13px;
  }